<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Remove headers to prevent technology disclosure -->
        <remove name="X-Powered-By" />
        <remove name="Server" />

        <!-- Add security headers -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate" />
      </customHeaders>
    </httpProtocol>   </system.webServer>
</configuration>